body{
    background-color: rgb(237, 195, 116);
}
div.container {
    width: 100%;
}

h2, h3, h4{
    margin-top: 0;
    color:rgb(172, 4, 172);
}

header{
    text-align: center;
}
header #box{
    background-color: antiquewhite;
    margin-right: 5px;
    margin-bottom: 2px;
    border: 2px solid grey
    }

nav{
    float: right;
    width:fit-content;
    height:fit-content;
    height:510px;
    margin-right: 5px;
    margin-left: 5px;
    background-color:aquamarine;
    border: 2px solid grey;
    overflow:auto;
}

section {
    margin-left: 5px;
    overflow: auto;
} 
    section #div1{
        overflow: auto;
    }
    section #div1 h2{
        padding-top:15px;
    }

    section #imgsinger{
        float: right;
        padding-top:0%;
    }
    section #mrim{
        float: left;
    }