<form>
    <table border="1">
        <tr style="background-color:aquamarine; text-align: center;">
            <td colspan="2">The quadratic equation</td>
        </tr>
        <tr>
            <td>a:</td>
            <td>
                <input type="text" [(ngModel)]="a">
            </td>
        </tr>
        <tr>
            <td>b:</td>
            <td>
                <input type="text" [(ngModel)]="b">
            </td>
        </tr>
        <tr>
            <td>c:</td>
            <td>
                <input type="text" [(ngModel)]="c">
            </td>
        </tr>
        <tr>
            <td>Result:</td>
            <td>
                {{delta}}
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" (click)="findSolution()">Find solution</button>
                <button type="reset">Clear</button>
            </td>
        </tr>
    </table>
</form>