body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.container{
    overflow: auto;
      
}
.article{
    background-color:rgb(155, 201, 133);
    float:right;
    margin-left:10px;
    font-weight: bold;
}
ADDRESS {
    font-size: 0.9em; 
    font-style:italic; 
    text-align:center; 
    text-transform:uppercase;
    }

    