body{
    background-color: rgb(9, 102, 90);
    color: white;
}
.image{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}
div{
    margin-top:20px;
}

.button{
    text-align:center;
}