<ol type="I">
    <li>
        Module 1
        <ol type="1">
            <li>Exercise 1</li>
            <li>Exercise 2</li>
            <li>Exercise 3</li>
        </ol>
    </li>
    <li>Module 2
        <ol type="1" start="4">
            <li>Exercise 4</li>
            <li>Exercise 5</li>
            <li>Exercise 6</li>
        </ol>
    </li>
    <li>Module 3
        <ol type="1" start="7">
            <li>
                <a routerLink="dssp">Danh sach san pham</a>
            </li>
            <li>Exercise 8</li>
            <li>Exercise 9</li>
        </ol>
    </li>
</ol>