body{
    background-color: beige;
}
#top
{
    background-color: orange;
    height: 70px;
    font-size: 20pt;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid blue;
}
#bottom{
    height:63%;
    overflow: auto;
}
    .table1
    {
        width:200;
        height:400;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        padding: 5px;
        border:3px solid blue;
        margin-top: 10px;
        margin-left: 5px;
        float: left;
    }
        .table1 th
        {
            background-color: blue;
            color: white;
        }
    .table2
    {   
        width:500;
        height:400;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        border-collapse:collapse;
        border:3px solid blue;
        margin-top: 10px;
        margin-left: 15px;
        float: left;
    }
        .table2 caption
        {
            text-align: left;
            color: blue;
            font-weight: bold;
            font-size:x-large;
            padding-bottom: 8px;
        }
        .table2 td
        {
            border:2px solid black;
            padding: 10px;
        }
        .table2 th
        {
            padding: 7px;
            background-color: orange;
            color:white;
            border:1px solid white;
        }
hr{
    height:1px;
    background-color:blue}
strong{
    color:blue
}
