<table style="width: 100%;">
    <tr>
        <td colspan="3">
            <app-topmenu></app-topmenu>
        </td>
    </tr>
    <tr>
        <td style="width: 250px;">
            <app-leftmenu></app-leftmenu>
        </td>
        <td>
            <router-outlet></router-outlet>
        </td>
        <td style="width: 200px;">
            Right menu o day
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Thong tin cong ty va giay phep kinh doanh
        </td>
    </tr>
</table>

<!--<p>
    <a routerLink="/pt1">Phương trình Bậc 1</a>
    <a routerLink="/slide">Trình diễn hình</a>
</p>
<router-outlet></router-outlet>-->
<!--<app-four></app-four>-->
<!--<app-ptb1></app-ptb1>-->
<!--<app-exercise78></app-exercise78>-->
<!--<app-exercise84></app-exercise84>-->
<!--<app-contact [AppComponentData]="WelcomeMessage" [MyValue]="MyValue"
    (childEvent)="DataFromOtherComponent=$event">
</app-contact>

<h3 *ngIf="DataFromOtherComponent">
    {{DataFromOtherComponent|json}}
</h3>-->
<!--<app-listproduct></app-listproduct>
<p>List Product 2</p>
<app-listproduct2></app-listproduct2>-->
<!--<app-listproduct3></app-listproduct3>-->
<!--<app-listproduct4></app-listproduct4>-->
<!--<app-listproduct5></app-listproduct5>-->
<!--<app-listproduct7></app-listproduct7>-->
<!--<app-service-product-image-event></app-service-product-image-event>-->
