<!--<app-four></app-four>-->
<!--<app-ptb1></app-ptb1>-->
<!--<app-exercise78></app-exercise78>-->
<!--<app-exercise84></app-exercise84>-->
<!--<app-contact [AppComponentData]="WelcomeMessage" [MyValue]="MyValue"
    (childEvent)="DataFromOtherComponent=$event">
</app-contact>

<h3 *ngIf="DataFromOtherComponent">
    {{DataFromOtherComponent|json}}
</h3>-->
<!--<app-listproduct></app-listproduct>
<p>List Product 2</p>
<app-listproduct2></app-listproduct2>-->
<!--<app-listproduct3></app-listproduct3>-->
<!--<app-listproduct4></app-listproduct4>-->
<!--<app-listproduct5></app-listproduct5>-->
<app-listproduct7></app-listproduct7>

