div.container {
    width: 100%;
}
header{
    border-bottom: 2px solid orange;
    text-align: right;
}
    #online{
        width:fit-content;
        color: white;
        background-color: rgb(162, 91, 91);
    }
nav {
    float: left;
    width: 185px;
    height:100%;
    padding-left: 1px;
    background-image: url("ex45/images/back.jpg");
}
nav ul{
    margin-top:0
}

section {
    padding: 1em;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
} 
    section p{
        color:rgb(159, 97, 35);
    }
#preser{
    overflow:auto;
}
#article{
    float:right;
    margin-left: 5px;
    border-left: 4px solid orange;
    border-top: 4px solid orange;
    border-right: 4px solid rgb(93, 61, 1);
    border-bottom: 4px solid rgb(93, 61, 1);
    padding-right: 10px;
}
ul{
    color:rgb(159, 97, 35);
    }
h2{
    margin-top: 0;
    color:orange;
}
hr{
    background-color: orange;
    height: 1px;
}
address{
    text-align:center;
    color:orange;
    font-style: normal;
    font-size: 10pt;
}