<!--<app-exercise91></app-exercise91>-->
<!--<app-ex89></app-ex89>-->
<!--<app-ex90></app-ex90>-->
<!--<app-exercise92></app-exercise92>-->
<!--<app-exercise93></app-exercise93>-->
<table>
    <tr>
        <td>
            <input type="button" value="Product" [routerLink]="'product'">
        </td>
        <td>
            <input type="button" value="List-Product" [routerLink]="'list-product'">
        </td>
        <td>
            <input type="button" value="Customer" [routerLink]="'customer'">
        </td>
    </tr>
</table>
<div>
    <router-outlet></router-outlet>
</div>
