<!--<app-exercise91></app-exercise91>-->
<!--<app-ex89></app-ex89>-->
<!--<app-ex90></app-ex90>-->
<!--<app-exercise92></app-exercise92>-->
<!--<app-exercise93></app-exercise93>-->
<!--<table>
    <tr>
        <td>
            <input type="button" value="Product" [routerLink]="'product'">
        </td>
        <td>
            <input type="button" value="List-Product" [routerLink]="'list-product'">
        </td>
        <td>
            <input type="button" value="Customer" [routerLink]="'customer'">
        </td>
    </tr>
</table>
<div>
    <router-outlet></router-outlet>
</div>-->
<!--<app-exercise100></app-exercise100>-->
<!--<app-fake-productt></app-fake-productt>-->
<!--<app-bitcoin-price-index></app-bitcoin-price-index>-->
<!--<app-books></app-books>-->
<!--<app-book-detail></app-book-detail>-->
<!--<app-book-new></app-book-new>-->
<!--<app-book-update></app-book-update>-->
<!--<app-book-delete></app-book-delete>-->
<!--<app-file-upload></app-file-upload>-->
<router-outlet></router-outlet>

