<p>{{errMessage}}</p>
<div>
    <h4 class="text-center text-white bg-dark p-3">Add a New Fashion</h4>
</div>
<div class="container bg-light p-3 col-md-7">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-end">
            <button class="btn btn-dark me-2" (click)="postFashion()">Add</button>
            <button class="btn btn-dark" (click)="goBack()">Back</button>
        </div>
    </div>
    <div>
        <label for="fashion_image">Fashion Thumbnail:</label> <br/>
        <input type="file" class="file-input" #name="ngModel" name="fashion_image" id="fashion_image"
            [(ngModel)]="fashion.fashion_image" (change)="onFileSelected($event,fashion)">
    </div>
    <div>
        <label for="FashionStyle">Fashion Style:</label>
        <input type="text" class="form-control" #name="ngModel" name="FashionStyle" id="FashionStyle"
            placeholder="Enter Fashion Style" [(ngModel)]="fashion.style" />
    </div>
    <div>
        <label for="FashionSubject">Fashion Title:</label>
        <input type="text" class="form-control" #name="ngModel" name="FashionSubject" id="FashionSubject"
            placeholder="Enter Fashion Subject" [(ngModel)]="fashion.fashion_subject"/>
    </div>
    <div>
        <label for="FashionDetail">Fashion Detail:</label>
        <ckeditor [(ngModel)]="fashion.fashion_detail" [editor]="Editor" ></ckeditor>
    </div>
</div>