<h4>Customer Information</h4>
<table border="1">
    <tr>
        <td>Customer name:</td>
        <td><input type="text" [(ngModel)]="customer.name"></td>
    </tr>
    <tr>
        <td>Customer email:</td>
        <td><input type="email" [(ngModel)]="customer.email"></td>
    </tr>
    <tr>
        <td>Customer phone:</td>
        <td><input type="text" [(ngModel)]="customer.phone"></td>
    </tr>
    <tr>
        <td colspan="2">
            <button type="button" (click)="processInformation()">Confirm</button>
        </td>
    </tr>
</table>