{{errMessage}}
<div>
    <h4 class="text-center text-white bg-dark p-3">Fashion Management</h4>
    <button class="btn btn-dark" (click)="addFashion()">Create New</button>
</div>
<table class="table table-hover">
    <tr class="text-center bg-dark text-white">
        <th>Id</th>
        <th>Style</th>
        <th>Title</th>
        <th>Detail</th>
        <th>Thumbnail</th>
        <th>Create Date</th>
        <th>Action</th>
    </tr>
    <tbody>
        <tr *ngFor="let fashion of fashions">
            <td>{{fashion._id}}</td>
            <td>{{fashion.style}}</td>
            <td>{{fashion.fashion_subject}}</td>
            <td>{{fashion.fashion_detail}} </td>
            <td>
                <img src="{{fashion.fashion_image}}" style="object-fit: cover; width:140px; height:140px">
            </td>
            <td class="col-1 text-center">
                {{ fashion.creationDate | date:'yyyy-MM-dd HH:mm:ss' }}
            </td>
            <td>
                <button class="btn btn-secondary" (click)="viewDetailFashion(fashion)">Detail</button>
                <button class="btn btn-secondary" (click)="editFashion(fashion)">Edit</button>
                <button class="btn btn-danger" (click)="deleteFashion(fashion._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>